:root{
    --primary-color: #176B87;
    --secondary-color: #86B6F6;
    --tritary-color: #B4D4FF;
    --quadary-color: #EEF5FF;
}

@font-face {
    font-family: Jost;
    src: url('../Jost.ttf');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Jost';
}

/* Auth */

.bg-auth{
    background-image: url('../images/auth_bg.jpg');
    background-position: center;
    background-size: cover;
}

div form{
    background: var(--tritary-color);
    height: 100%;
}

.auth-logo{
    width: 150px;
    height: 150px;
    z-index: 10000;
}

@media only screen and (max-width:578px){
    div form{
        height: fit-content;
        padding: 25px 0px 25px 0px;
        backdrop-filter: 50px;

    }
}

/* NavBar */
nav{
    width: 150px;
    background-color: var(--secondary-color);
}

.nav-brand img{
    border-radius: 50%;
    width: 125px;
    height: 125px;
}